<!DOCTYPE html>
<html>
  <head>
    <title>Google Auth Example App</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="page">
      <div id="header">
        <div class="headerright">
          <div class="headerrightrowone">
            <% if current_user %>
              Welcome <strong><%= current_user.name %></strong>! | 
              <%= link_to "Sign out", signout_path, id: "sign_out" %>
            <% else %>
               <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="menu">
      <ul>
        <li><%= link_to "Create", vehicle_new_path , :class => "" %></li>
        <li><%= link_to "Orders", vehicle_orders_path , :class => "" %></li>
      </ul>
    </div>
    <%= yield %>
    </div>
  </body>
</html>